body {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  background: #f4f4f4;
  margin: 0;
  padding: 20px;
}

canvas.recuadros {
  width: 200px;
  height: 200px;
  border: 2px solid black;
  background: white;
}
